@charset "UTF-8";
* {
  background-color: #16a085;
  font-family: "微軟正黑體";
  color: white;
}

hr {
  border: 1px solid white;
  width: 100px;
  margin-left: 0px;
}

a {
  color: white;
}

.myfile {
  position: fixed;
  height: 100%;
  text-align: center;
  padding-top: 100px;
}
.myfile hr {
  margin-left: 50px;
  margin-right: 50px;
}

section {
  margin-top: 80px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  text-align: center;
  line-height: 100px;
}

.bar {
  width: 50%;
  height: 20px;
  border: solid 3px #29f1c3;
  border-radius: 8px;
}

.value {
  height: 100%;
  background-color: #87d37c;
  border-radius: 8px;
}

.value.a80 {
  width: 80%;
}

.value.a70 {
  width: 70%;
}

.value.a50 {
  width: 60%;
}

.intro {
  padding-top: 20px;
}

.point {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}